.DS_Store
.vscode
*.bak
*_old.*
*.db
__pycache__
compiler/__pycache__
runtime/__pycache__
tests/__pycache__
examples/*.db
examples/*.py
examples/_ide_output.py
examples/_ide_output.pyc
examples/_ide_output.rp
examples/_ide_errors.json
utilities/vscodeext/rapidp/*.vsix